**/*.log
**/target
!gremlin-server/target/apache-tinkerpop-gremlin-server-*
!gremlin-console/target/apache-tinkerpop-gremlin-console-*
*.iml
.idea
**/*.DS_Store
.classpath
.project
.settings
**/_bsp/
docs/*.asciidoc
Dockerfile
.dockerignore
