<div class="repl-text" style="padding: 10px">
    <h4>Keyboard Shortcuts</h4>
    <br />
    <table class="table table-condensed">
        <tr>
            <th>Keystroke</th>
            <th>Function</th>
        </tr>
        <tr>
            <td>Up Arrow</td>
            <td>Next history</td>
        </tr>
        <tr>
            <td>Down Arrow</td>
            <td>Previous history</td>
        </tr>
        <tr>
            <td>Tab</td>
            <td>Autocomplete from history</td>
        </tr>
        <tr>
            <td>Escape</td>
            <td>Return to entry mode</td>
        </tr>
        <tr>
            <td>Ctrl-H</td>
            <td>Show help page</td>
        </tr>
        <tr>
            <td>Ctrl-S</td>
            <td>Search history</td>
        </tr>
    </table>
</div>