<div class="repl-text" style="padding: 10px; width: 100%">
    <h4>Imports</h4>
    <br />
    <div class="repl-text" style="display: table; width: 100%">
        <div class="repl-text" style="display: table-cell; width: 70px; vertical-align: top">Import:&nbsp;</div>
        <div class="repl-text" style="display: table-cell; width: auto">
            <input id="inputImport" class="repl-text" style="width: 100%; border: 1px dashed #707070" />
        </div>
        <div class="repl-text" style="display: table-cell; width: 70px; vertical-align: top">
            <button id="buttonAddImport" class="btn btn-default btn-xs" style="margin-left: 10px" title="Add">+</button>
        </div>
    </div>
    <div id="sectionImport" style="margin-top: 10px; height: 400px"></div>
</div>