<div style="padding: 10px; width: 100%">
    <h4>Search History</h4>
    <br />
    <div class="repl-text" style="display: table; width: 100%">
        <div class="info-text" style="display: table-cell; width: 50px; vertical-align: top">Filter:&nbsp;</div>
        <div class="repl-text" style="display: table-cell; width: auto">
            <input id="inputSearch" class="repl-text" style="width: 100%; border: 1px dashed #707070" />
        </div>
    </div>
    <div class="repl-text" id="sectionSearch" style="margin-top: 10px"></div>
</div>