html {
    height: 100%;
}

body {
    background: #ffffff;
    height: 100%;
}

.horizontal {
    float: left;
    display: block;
    margin-right: 10px;
}

.screen-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    padding: 10px;
}

.dropdown-menu > li > a:hover {
    color: #ffffff;
    background-color: rgb(0, 129, 194);
    background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 119, 179));
    cursor: pointer;
}

.btn-bordered {
    border: 1px solid #cccccc;
}

.info-text {
    font-family: Arial, Helvetica, san-serif;
    background-color: #555555;
    color: #f8f8f8;
}

.repl-text {
    font-family: "Courier New", Courier, monospace;
    background-color: #555555;
    color: #f8f8f8;
}

.repl-text-inverted {
    font-family: "Courier New", Courier, monospace;
    background-color: #dddddd;
    color: #555555;
}
